@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.portfolio-card {
  height: 500px;
}

.card-desc {

  background: rgba(0,0,0,0.5);
}
.portfolio-card:hover .card-img-1 {
  top: -310%;
  filter: grayscale(0);
}

.portfolio-card:hover .card-img-2 {
  bottom: -265%;
  filter: grayscale(0);
}

.card-img-1 {
  top: -280%;
  overflow: hidden;
  border-radius: 20px;
  width:46%;
  left: 3%;
}

.card-img-2 {
  bottom: -250%;
  right: 3%;
  overflow: hidden;
  border-radius: 20px;
  width:46%;
}

.wrapper {
  max-width: 1920px;
  width: 80%;
  
}

.follower {
  width: 1000px;
  height: 1000px;
  top: 0;
  left: 0;
  border-radius: 100%;
  
}